body {
  /* border: 5px solid red; */
  /* border-radius: 2em; */
  /* background-image: url("./images/red.webp"); */
  background-color: #3f0d12;
  background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
}

.head {
  padding: 20px;
  background-image: url("./images/download.png");
  text-align: center;
  /* border-radius: 2em; */
}

/* .list {
  text-align: left;
}

.intro {
  border: 2px dotted red;
  border-radius: 2em;
  text-align: center;
}

.gallery {
  padding: 70px;
  background-color: #010b13;
  display: grid;
  grid-template-columns: repeat(2, auto-fill, minmax(200px, 1fr));
  gap: 2rem;

  border: 3px solid red;
} */

#shell {
  background-color: rgba(100%, 40%, 50%, 0.75);
  text-align: justify;
  /* background-color: #ff7276; */
  /* padding: 30px; */
  margin-bottom: 30px;
  margin-top: 30px;
  /* width: 100%; */
  border: 1px solid red;
  border-radius: 1rem;
}

#d2c-img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  border-radius: 1em;
}

#d2c {
  text-align: justify;
  background-color: rgba(100%, 40%, 50%, 0.75);
  /* background-color: #ff7276; */
  /* padding: 30px; */
  /* margin: 30px; */
  margin-bottom: 30px;
  border: 1px solid red;
  border-radius: 1rem;
}

#shell-img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  place-items: center;
  border-radius: 1em;
}
